<footer class="text-center text-lg-start text-white" style="background-color: #6c83a2">
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Gez & Toz</h6>
                    <p>
                        Tatil yaparken nerede kalacağım derdinden kurtul. İstediğin evi kirala 
                        veya evini kirala!!!
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <p><a href="/Kirala" class="text-white">Evler</a></p>
                    <p><a href="/About" class="text-white">Hakkımızda</a></p>
                    <p><a href="/Iletisim" class="text-white">İletişim</a></p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <p  href="" style="font-size: 100%;"><i class="fa fa-envelope"></i> info@gmail.com</p>
                    <p  href="" style="font-size: 100%;"><i class="fa fa-phone" style="font-size:24px"></i> 0216 578 85 97</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://tr-tr.facebook.com/"
                        role="button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com.com/"
                        role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="https://mail.google.com"
                        role="button"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a class="btn btn-primary btn-floating m-1"  href="https://www.instagram.com/?hl=tr&ysclid=ljpqdraahz508098369"
                        role="button"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://tr.linkedin.com/"
                        role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/"
                        role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Gez&Toz
    </div>
</footer>
