
:host {
  display: block;
  
    height: 100vh;
      
 
  background-color: rgb(163, 163, 233);
  background-size: cover;
  background-repeat: no-repeat;
  
}


  .cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  