<div class="l-container">

  <div class="col-md-3">
    <div class="b-game-card">
      <div class="b-game-card__cover">
        <h5 class="card-title">Uygun Fiyat</h5>
        <h6 class="card-subtitle mb-2 text-muted">En İyi Fiyat Garantisi</h6>
        <p class="card-text">Bütçenize en uygun fiyatlar ile ev kiralamak çok kolay.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="b-game-card">
      <div class="b-game-card__cover">
        <h5 class="card-title">Memnuniyet</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gezginler Bizi Seviyor</h6>
        <p class="card-text">Memnuniyet en önemli ilkemiz. Kullanıcıların %99'u memnun.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="b-game-card">
      <div class="b-game-card__cover">
        <h5 class="card-title">En İyisi</h5>
        <h6 class="card-subtitle mb-2 text-muted">En İyi Seyahat Acentesi</h6>
        <p class="card-text">Eşi benzer görülmemiş bir kolaylık ile seyahat sağlıyoruz.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="b-game-card">
      <div class="b-game-card__cover">
        <h5 class="card-title">Bire Bir Destek</h5>
        <h6 class="card-subtitle mb-2 text-muted">Özel Desteğimiz</h6>
        <p class="card-text">Müşteriler ile bire bir destek sağlayan tek ev kiralama sitesi.</p>
      </div>
    </div>
  </div>
</div>