<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h4">İletişim bilgileri</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3">
        <p><span>Address:</span>Saray, 3, Naya Sk., 34768 Ümraniye/İstanbul</p>
      </div>
      <div class="col-md-3">
        <p><span>Phone:</span> <a href="tel://1234567920"> 0212010000</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Email:</span> <a href="mailto:info@yoursite.com "> info@Rea.com</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Website</span> <a href="#">  yoursite.com</a></p>
      </div>
    </div>
    <div class="row block-9">
      <div class="col-md-6 pr-md-5">
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Adınız">
          </div>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="E-posta adresiniz">
          </div>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Konu">
          </div>
          <br>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
          </div>
          <br>
          <div class="form-group">
            <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>

      <div class="col-md-6" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.9236752363277!2d29.113554841276894!3d41.02692574489165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8e0b6c5fc35%3A0x3b1049733a5ff9c1!2sAyd%C4%B1n%20Turgut%20Ayd%C4%B1n%20Holding%20A.%C5%9E.!5e0!3m2!1str!2str!4v1685552584060!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<br>
